.movies {
    padding-top: 70px;
    position: relative;
}

.movies__conteiner {
    display: grid;
    gap: 31px 30px;
    grid-template-columns: repeat(auto-fit, minmax(360px, max-content));
    justify-content: center;
}

.movies__padding-min {
    padding-bottom: 10px;
}

.movies__padding-max {
    padding-bottom: 245px;
}

.movies__text{
    display: none;
}

.movies__text_visible{
    display: block;
    margin: 0;
    margin-top: 80px;
    text-align: center;
}

.movies__error-server{
    display: none;
}

.movies__error-server_visible-user {
    display: block;
    color: #EE3465;
    font-weight: 400;
    font-size: 11px;
    position: absolute;
    top: 100px;
}

@media screen and (max-width: 800px) {
    .movies__conteiner {
        gap: 34px 24px;
        grid-template-columns: repeat(auto-fit, minmax(342px, max-content));
        justify-content: center;
    }

    .movies__padding-max {
        padding-bottom: 190px;
    }

    .movies__padding-min {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 400px) {
    .movies {
        padding-top: 40px;
    }

    .movies__conteiner {
        gap: 16px 0;
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        justify-content: center;
    }

    .movies__padding-max {
        padding-bottom: 187px;
    }
}