.checkbox {
    padding-top: 27px;
    padding-bottom: 44px;
    border-bottom: 1px solid rgba(170, 170, 170, .2);
}

.checkbox__text {
    font-weight: 400;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    margin-left: 50px;
}

.checkbox__text::after {
    content: "";
    background-color: #3DDC84;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    margin-left: -50px;
    top: -2.5px;
    left: 0;
}

.checkbox__text::before {
    content: "";
    background-color: #FFFFFF;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    margin-left: -50px;
    top: 3px;
    left: 22px;
    z-index: 1;
    transition-duration: .4s;
}

.checkbox__switch {
    display: none;
}

.checkbox__switch:checked+.checkbox__text::before {
    left: 6px;
    background-color: #A0A0A0;
}

.checkbox__switch:checked+.checkbox__text::after {
    background-color: #343434;
}

@media screen and (max-width: 800px) {
    .checkbox {
        padding-bottom: 52px;
    }
}

@media screen and (max-width: 400px) {
    .checkbox {
        padding-top: 30px;
        padding-bottom: 65px;
    }

    .checkbox__text {
        font-size: 11px;
    }
}