.form__field-conteiner {
    padding-bottom: 61px;
}

.form__field-content {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-weight: 400;
    font-size: 10px;
    color: #8B8B8B;
    margin-bottom: 5px;
    line-height: 12px;
}

.form__field {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    color: #FFFFFF;
    background: transparent;
    border: none;
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
    margin-bottom: 24px;
}

.form__field-light {
    border-bottom: 1px solid #4285F4;
} 

@media screen and (max-width: 450px) {
    .form__field-conteiner {
        width: 100%;
    }
}
